{% macro render_import(block) %}
{% if block.names | length <= 3 %}
from .{{ block.module }} import {{ block.names | join(", ") }}
{% else %}
from .{{ block.module }} import (
    {{ block.names | join(",\n    ") }},
)
{% endif %}
{% endmacro %}
{{ header }}

"""CDP {{ domain_name }} Domain."""
{% for block in import_blocks %}

{{ render_import(block) | trim }}
{% endfor %}

from .client import {{ domain_class }}

__all__ = [
    "{{ exports | join('",\n    "') }}",
]
