{{ header }}

from .accessors import DomainAccessors
{{ domains | map(attribute="import_statement") | join("\n") }}

__all__ = [
    "DomainAccessors",
    {{ domains | map(attribute="export") | join("\n    ") }}
]
