{{ header }}

from .accessors import CDPDomains
{{ domains | map(attribute="import_statement") | join("\n") }}

__all__ = [
    "CDPDomains",
    {{ domains | map(attribute="client_export") | join("\n    ") }}
]
